/*
 *= require normalize
 *= require main
*/

$primary: #2E0927;
$secondary: #04756F;
$tertiary: #5C832F;
$orange: #FE8301;

$border-width-normal: 1px;
$border-width-effect: 10px;
$border-width-v-effect: 15px;
$margin-normal: 1px;
$small-padding-normal: 10px;
$large-padding-normal: 15px;


// 468px wide
$bg-image-tiny: image-path("fall-in-to-the-gap-tiny.jpeg");
// 768px wide
$bg-image-small: image-path("fall-in-to-the-gap-small.jpeg");
// 1024px wide
$bg-image-medium: image-path("fall-in-to-the-gap-medium.jpeg");
// 1280px wide
$bg-image-large: image-path("fall-in-to-the-gap-large.jpeg");
// 1920px wide
$bg-image-full: image-path("fall-in-to-the-gap-full.jpeg");

@import 'compass';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  min-height: 100%;
  width: 100%;
}

html {
  background-color: #222;
  @include background-image(linear-gradient(#2E0927, #04756F 85%));
}

body {
  color: #eee;
  font-family: 'Share Tech Mono', Helvetica, sans-serif;
  font-weight: lighter;
}

.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.row:after {
  clear: both;
  width: 100%;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {
  *zoom: 1;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.left, .right {
  width: 50%;
  float: left;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('#{$bg-image-tiny}');
  background-size: cover;
  background-position: center;
  opacity: 0;
  @include single-transition(opacity, 12s, ease-in);
  &.show {
    opacity: 0.7;
  }
}

.forge {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 35px 1px;
  h1 {
    letter-spacing: -12px;
    font-size: 100px;
    text-align: left;
    margin: 0 0 0 -5px;
    line-height: 0.9;
    font-weight: 400;
  }
}


.scripture {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  line-height: 1;
  border-top: 3px solid lighten($secondary, 50%);
  border-bottom: 3px solid lighten($secondary, 50%);
  margin: 20px 0 0 0;
  padding: 0;
  blockquote {
    margin: 20px 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

ul.bytemist {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: $margin-normal 0;
    padding: 0;
    text-align: right;
    > a{
      display: block;
      text-decoration: none;
      padding: $small-padding-normal;
      border-width: $border-width-normal;
      border-color: white;
      border-style: solid;
      &:hover {
        border-width: $border-width-normal + $border-width-effect;
        padding: $small-padding-normal - $border-width-effect;
      }
      &.bandcamp {
        color: lighten($primary, 60%);
        border-color: lighten($primary, 60%);
        &:hover {
          color: lighten($primary, 50%);
          border-color: lighten($primary, 50%);
        }
      }
      &.soundcloud {
        color: lighten($tertiary, 40%);
        border-color: lighten($tertiary, 40%);
        &:hover {
          color: $tertiary, 20%;
          border-color: $tertiary, 20%;
        }
      }
      &.twitter {
        color: lighten($secondary, 50%);
        border-color: lighten($secondary, 50%);
        &:hover {
          color: lighten($secondary, 30%);
          border-color: lighten($secondary, 30%);
        }
      }
    }
  }
}

.credit,
.tweet {
  font-size: 10px;
  > a {
    color: white;
  }
}

@media (max-width: 447px){
  .break {
    display: inline;
    margin-right: -30px;
  }

  .left, .right {
    width: 100%;
  }

  .forge {
    h1 {
      letter-spacing: -8px;
      font-size: 64px;
    }
  }

  .scripture {
    font-size: 32px;
  }

  ul.bytemist {
    margin-top: 20px;
    > li {
      text-align: left;
    }
  }
}

@media (min-width: 448px){
  .background {
    background-image: url('#{$bg-image-small}');
  }
  .forge {
    h1 {
      margin-left: 0;
    }
  }
  ul.bytemist {
    > li {
      width: 200px;
      float: right;
      clear: both;
      > a {
        padding: $large-padding-normal;
        &:hover {
          padding: $large-padding-normal - $border-width-effect;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .forge {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url('#{$bg-image-medium}');
  }

  .forge {
    h1 {
      margin-left: -10px;
    }
  }

  .scripture {
    blockquote {
      margin: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .background {
    background-image: url('#{$bg-image-large}');
  }
}

@media (min-width: 1280px) {
  .background {
    background-image: url('#{$bg-image-full}');
  }
}
