/*
 *= require normalize
 *= require main
*/

$primary: #2E0927;
$secondary: #04756F;
$tertiary: #85DB18;
$orange: #FE8301;

$border-width-normal: 1px;
$border-width-effect: 10px;
$border-width-v-effect: 15px;
$margin-normal: 1px;
$small-padding-normal: 10px;
$large-padding-normal: 15px;

@import 'compass';

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #222;
  @include background-image(linear-gradient(#2E0927, #04756F 85%));
  color: #eee;
  font-family: 'Share Tech Mono', Helvetica, sans-serif;
  font-weight: lighter;
}

.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.row:after {
  clear: both;
  width: 100%;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {
  *zoom: 1;
}

.left, .right {
  width: 50%;
  float: left;
}

.forge {
  height: 100%;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 5px 1px;
}

h1 {
  letter-spacing: -12px;
  font-size: 100px;
  text-align: left;
  margin: 0;
  line-height: 0.9;
  font-weight: 400;
}

.scripture {
  font-size: 40px;
  line-height: 1;
  border-top: 3px solid lighten($secondary, 50%);
  border-bottom: 3px solid lighten($secondary, 50%);
  margin: 20px 0 0 0;
  padding: 0;
  blockquote {
    margin: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

ul.bytemist {
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    cursor: pointer;
    margin: $margin-normal 0;
    padding: 0;
    text-align: right;
    > a{
      display: block;
      text-decoration: none;
      padding: $small-padding-normal;
      border-width: $border-width-normal;
      border-color: white;
      border-style: solid;
      &:hover {
        border-width: $border-width-normal + $border-width-effect;
        padding: $small-padding-normal - $border-width-effect;
      }
      &.bandcamp {
        color: lighten($primary, 60%);
        border-color: lighten($primary, 60%);
        &:hover {
          color: lighten($primary, 30%);
          border-color: lighten($primary, 30%);
        }
      }
      &.soundcloud {
        color: lighten($tertiary, 40%);
        border-color: lighten($tertiary, 40%);
        &:hover {
          color: lighten($tertiary, 20%);
          border-color: lighten($tertiary, 20%);
        }
      }
      &.twitter {
        color: lighten($secondary, 50%);
        border-color: lighten($secondary, 50%);
        &:hover {
          color: lighten($secondary, 10%);
          border-color: lighten($secondary, 10%);
        }
      }
    }
  }
}

@media (max-width: 447px){
  .break {
    display: inline;
    margin-right: -30px;
  }

  .left, .right {
    width: 100%;
  }

  h1 {
    letter-spacing: -8px;
    font-size: 64px;
  }

  .scripture {
    font-size: 32px;
  }

  ul.bytemist {
    margin-top: 20px;
    > li {
      text-align: left;
    }
  }
}

@media (min-width: 640px) {
  body {
    padding-top: 80px;
  }
}

@media (min-width: 448px){
  ul.bytemist {
    > li {
      width: 200px;
      float: right;
      clear: both;
      > a {
        padding: $large-padding-normal;
        &:hover {
          padding: $large-padding-normal - $border-width-effect;
        }
      }
    }
  }
}
