---
title: HTML5 Boilerplate Middleman
---

.forge
  .row
    .left
      %h1
        LEDS+
        .break
        303S

    .right
      %ul.bytemist
        -data.links.each do |link|
          %li{class: link.name}=link.label

  .scripture
    %blockquote We are The Iridescent Bytemist shimmering on The Edge of That Most Righteous Forgeboard whilst gliding across Sheets of Gleaming Metal.
