---
title: HQ
---

.background
.forge
  .row
    .left
      %h1
        LEDs+
        .break
        303s

    .right
      %ul.bytemist
        -data.links.each do |link|
          %li
            %a{class: link.name, href: link.url}=link.label

  .scripture
    %blockquote We are The Iridescent Bytemist shimmering on The Edge of That Most Righteous Forgeboard whilst gliding across Sheets of Gleaming Metal.

  %p.credit
    Image by
    %a{href: "http://logicart.pl/", target: "_blank"} Monika Majkowska
    via
    %a{href: "https://unsplash.com", target: "_blank"} Unsplash

